

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{ 
  margin: auto; 
  background-color: whitesmoke;}

td{
  width: 15px;
  height: 15px;
}

.new{ background-color:lime; }

.line{
    height: 5px;
}


