<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css"/>
    <title>History</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Game of Life</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/history">History of the Game<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div align="center">
        <h2>History of the Game</h2>
        <p>The Game of Life is not your typical computer game. It is a 'cellular automaton', and was invented by
            Cambridge mathematician John Conway.</p>
        <p>This game became widely known when it was mentioned in an article published by Scientific American in 1970.
            It consists of a collection of cells which, based on a few mathematical rules, can live, die or multiply.
            Depending on the initial conditions, the cells form various patterns throughout the course of the game.</p>
        <h2>The Rules</h2>
        <p><strong>For a space that is 'populated':</strong></p>
        <p>Each cell with one or no neighbors dies, as if by loneliness.</p>
        <p>Each cell with four or more neighbors dies, as if by overpopulation.</p>
        <p>Each cell with two or three neighbors survives.</p>
        <p><strong>For a space that is 'empty' or 'unpopulated'</strong></p>
        <p>Each cell with three neighbors becomes populated.</p>
        <h2>Patterns</h2>
        <p>Many different types of patterns occur in the Game of Life, which are classified according to their
            behaviour. Common pattern types include: still lifes, which do not change from one generation to the next;
            oscillators, which return to their initial state after a finite number of generations; and spaceships, which
            translate themselves across the grid.</p>
    </div>
</div>
</body>
</html>